* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

.space {
    padding: 8rem 1.2rem;
    max-width: 114rem;
    margin: auto;
}

.slideshow-container {
    height: 100%;
    position: relative;
    max-width: 100%;
}

.slides {
    display: none;
}

.slide1,
.slide2,
.slide3 {
    /* background-position: center; */
    /* background-position-x: right; */
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
    min-height: 100%;
}

.slide1 {
    background-image: url("./assets/images/hero-section.jpg");
}

.slide2 {
    background-image: url("./assets/images/hero-section2.jpg");
    background-position: center;
}

.slide3 {
    background-image: url("./assets/images/hero-section3.jpg");
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .1);
}

.nav-top {
    padding: 1.5rem 15rem;
    padding-bottom: 0;
    justify-content: space-between;
}

.nav-bottom {
    background-color: rgba(138, 138, 138, 0.7);
    margin: auto;
    width: calc(100% - 10rem);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.nav-bottom>.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91.15px;
    margin: 1rem 0;
}

.logo-div {
    flex-direction: column;
    margin-right: 5rem;
}

.logo {
    width: 10rem;
}

.slogan {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.nav-link {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.6rem;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 2px 6px;
    /* background-color: ; */
}

.top-nav.nav-link:nth-last-child(2) {
    margin-right: 0;
}

.account {
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.6rem;
    padding: 1.3rem 2rem;
    color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ff337a;
}

.menu,
.close {
    margin-left: 3rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    border-radius: 50%;
    /* background-color: #000000; */
    background-color: #FF1466;
    fill: #ffffff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: none; */
}

.menu>svg,
.close>svg {
    height: 2.4rem;
    width: 2.4rem;
}

.d-none {
    display: none;
}

.hero-section {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: #fff;
    padding: 8rem 15rem;
}

.highlight {
    color: #f8ff00;
}

.slide2>.hero-section {
    color: #000;
}

.hero-section>h1 {
    font-size: 6.2rem;
    line-height: 68.2px;
    /* letter-spacing: -.2rem; */
}

.hero-section>h2 {
    font-size: 5.2rem;
    line-height: 8.6rem;
    /* letter-spacing: -1%; */
}

.hero-section>p {
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.hero-section>a {
    display: inline-block;
    width: fit-content;
    font-size: 1.6rem;
    padding: 1.3rem 2rem;
    /* background-color: #a020f0; */
    /* background-color: #ff4e56; */
    background-color: #ff337a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    border-radius: 30px;
}

.effect:hover {
    transform: scale(1.05);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

/* Why-us CSS */

.why-us {
    /* background-color: #63b2ff; */
    background-image: url(./assets/images/characters-showing-evolutionary-graphs.jpg);
    /* background-color: #9368FB; */
    background-size: cover;
    background-position: center;
}

.head {
    padding-bottom: 0;
    /* color: #ffffff; */
}

.card {
    position: relative;
    margin-top: 6.4rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 305px));
    justify-content: center;
}

.head>h2 {
    font-size: 4rem;
    text-align: center;
    color: #FF1466;
}

.head>h2>span {
    font-size: 5.6rem;
}

.head>p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.4rem;
    margin: 1.6rem auto;
    max-width: 55rem;
    color: #000;
}

.card-item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgba(255, 255, 255);
    background-color: #d8d8d8;
    color: #000;
    padding: 2rem;
    flex-direction: column;
    margin: 0 1.2rem;
    margin-bottom: 4.8rem;
    border-radius: 1.2rem;
}

.card-icon {
    width: 10rem;
    height: 10rem;
    background-color: #ff337a;
    border-radius: 87% 38% 100% 40% / 100% 20% 79% 77%;
    margin-top: 1.6rem;
    justify-content: center;
}

.card-detail {
    text-align: center;
}

.card-detail h3 {
    font-size: 2rem;
    line-height: 32px;
    margin: 2.4rem 0;
}

.card-detail p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 3rem;
    color: #000;
}

.card-detail a {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 1rem 1.5rem;
    background-color: #ff337a;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 1.6rem;
}

@media (max-width: 1292px) {
    .nav-top {
        padding: 1.5rem 10rem;
    }
}


@media (max-width: 1192px) {
    .nav-top {
        padding: 1.5rem 5rem;
    }
}

@media (max-width: 1092px) {
    .nav-top {
        padding: 1.5rem 2rem;
    }
}

@media (min-width: 1033px) {

    .menu,
    .close,
    .nav-bottom {
        display: none;
    }
}

@media (max-width: 1032px) {
    header {
        backdrop-filter:unset;
        background-color: transparent;
    }

    .nav-top {
        padding: 1.5rem 5rem;
    }

    .nav-link {
        display: none;
    }

    .hero-section {
        padding: 2rem 5rem;
    }
}

/* @media(max-width: 768px) {
    
} */

@media(max-width: 680px) {

    .slide1 {
        background-image: url("./assets/images/hero-section-sm.jpg");
    }

    .slide2 {
        background-image: url("./assets/images/hero-section2-sm.jpg");
    }

    .hero-section {
        padding: 5rem 2rem;
        padding-top: 10rem;
    }

    .hero-section>h1 {
        font-size: 3.6rem;
        text-transform: uppercase;
        line-height: 4.4rem;
        /* letter-spacing: -.2rem; */
    }

    .hero-section>p {
        margin-bottom: 4rem;
    }
}

@media(max-width: 529px) {
    .nav-top {
        padding: 1.5rem 2rem;
        justify-content: space-around;
    }

    .nav-bottom {
        width: calc(100% - 5rem);
    }

    .logo-div {
        margin-right: 0;
    }

    .account {
        margin-left: 0;
    }
}

@media(max-width: 425px) {

    .slide1>.hero-section {
        background-size: cover;
    }

    .menu,
    .close {
        margin-left: 3rem;
    }

    .logo {
        width: 8rem;
    }

    .account,
    .slogan {
        font-size: 1.2rem;
    }
}

@media(max-width: 360px) {
    .nav-bottom {
        width: calc(100% - 3rem);
    }

    .menu,
    .close {
        margin-left: 2rem;
    }

    .slide2>.hero-section {
        align-items: flex-start;
    }

    .hero-section {
        padding: 5rem 2rem;
        padding-top: 18rem;
        text-align: left;
    }

    .hero-section>p {
        text-align: justify;
        margin-bottom: 5rem;
    }

    .hero-section>a {
        align-self: center;
    }
}

@media(max-width: 330px) {
    .slide1>.hero-section {
        padding-top: 25rem;
    }

    .menu,
    .close {
        margin-left: 1rem;
    }

    .hero-section>h1 {
        font-size: 2rem;
        line-height: 2.2rem;
    }
}